body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
}

code {
  font-family: 'Source Code Pro', monospace;
}

h1 .symbols {
  font-size: 1rem;
}

body {
  background-color: $background;
  color: $foreground;
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: white;
    text-decoration: none;

    transition: all 0.2s ease;

    &:hover {
      text-decoration: underline;
      opacity: 0.72;
    }
  }
}

a {
  color: $primary;
  transition: opacity 0.2s ease;
  opacity: 0.72;
  &:hover {
    opacity: 1;
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  td, th {
    border: 1px solid #60ad5e;
    padding: 0.2em 0.5em;
  }
}

pre.highlight {
  border: 1px solid #60ad5e;
  padding: 0.5em 1em;
}

hr {
  width: 50%;
  margin: 2em auto;
  display: block;
  height: 1px;
  background: #60ad5e;
  border: none;
}


.nav-buttons {
  border: 1px solid $primary;
  display: flex;

  .button, button, input[type=button], input[type=submit], input[type=reset] {
    margin: -1px;
    border: 1px solid $primary;
    border-radius: 0;
    display: block;
    transition: all 0.2s ease;

    &.primary, &:hover {
      background: $primary;
      color: $primary-invert;
    }

    &.primary:hover, & {
      background: $primary-invert;
      color: $primary;
    }
  }
}