<!doctype html>
<html>
    <head>
        <meta charset="utf8" />
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% if page.description %}
        <meta name="description" content="{{ page.description }}" />
        {% elsif page.auto_description %}
        <meta name="description" content="{{ page.excerpt | strip_html | strip | escape }}" />
        {% endif %}
    
        <link href="{{ page.url | absolute_url }}" rel="canonical" />
        <link href="{{ '/atom.xml' | absolute_url }}" rel="alternate" type="application/atom+xml" title="Atom"/>
        
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="{{ '/assets/style.css' | absolute_url }}" rel="stylesheet" />    

        <script data-ad-client="ca-pub-4465411623454669" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157545099-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-157545099-1');
        </script>
    </head>
    <body>
        <header>
            <h1><a href="{{ '/' | absolute_url }}">{{ site.title }}</a></h1>
        </header>
        <section class="content">
            {{ content }}
        </section>
        <footer>
            <p>
                <a href="https://github.com/asparlose/mv-plugins/" title="GitHub">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </footer>
    </body>
</html>